<h1>Users</h1>

<% if @users.present? %>
  <ol>
    <% @users.each do |user| %>
      <li>
        <ul>
          <li>
            <strong>Full name:</strong>
            <%= user.name %>
          </li>
          <li>
            <strong>Username:</strong>
            <%= user.username %>
          </li>
          <li>
            <strong>Email:</strong>
            <%= user.email %>
          </li>
          <li>
            <strong>Phone number:</strong>
            <%= user.phone %>
          </li>
          <li>
            <strong>Personal website:</strong>
            <%= user.website %>
          </li>
        </ul>
        <br />
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No users found.</p>
<% end %>
